<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
    </head>
    <body>
        <p>{% trans with {'%authspace%': authspace, '%user%': app.user.email } %}You are logged in the system %authspace% as %user%.{% endtrans %}</p>
        <a href="{{ logoutUri }}">Se déconnecter</a>
       	<a href="{{ redirectUri }}">Annuler</a>
    </body>
</html>