<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
    </head>
    <body>
        <p>Vous êtes authentifié dans le système {{ authspace }} en tant que {{ app.user.email }}.</p>
        <a href="{{ logoutUri }}">Se déconnecter</a>
       	<a href="{{ redirectUri }}">Annuler</a>
    </body>
</html>